name: Check Every 10 Minutes
on:
  schedule:
    - cron: '*/10 * * * *'
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - run: |
          curl -X POST \
          "https://api.telegram.org/bot8380316014:AAE2J4rsAf0CRz0HETXM_Tu5aa5kN9AIZfs/sendMessage" \
          -H "Content-Type: application/json" \
          -d '{"chat_id": "6831429027", "text": "✅ چک 10 دقیقه", "parse_mode": "HTML"}'
